<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Horse care.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F0A22771DF5D003004486C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F0A228E1DF5D003004486C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F0A22991DF5D003004486C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
